<h1 class= "py-3" >Places</h1>
<p>
  <a href="/places/new" class="btn btn-primary" >New place</a>
</p>

<p>
  <% for place in @places %>
   <p> <a href="/places/<%= place["id"] %>"><%= place["name"] %></a> </p>
  <% end %>
</p>