<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>

  <button class="btn btn-secondary-" type="submit">
      <%= form.submit %>
  </button>

<% end %>